/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/storage/clockwork
/vendor
/data_stream
/.idea
.env
.env.backup
.phpstorm.meta.php
.phpunit.result.cache
.ftpquota
phpunit.xml
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
error_log
_ide_helper*
